* {
    box-sizing: border-box;
    margin: 0;
}
img {
    border: 1px solid black;
    width: 450px;
}
body {
    margin: .5%;
}
body > main > p {
    margin: .5% 0 1% 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 49%;
    gap: .5%;
}
.flex-container > div {    
    margin-bottom: 1.5%;
}
.flex-item {
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: center;

}
.flex-item > p {
    margin-bottom: 2.5%;
}
.flex-item  p > ul {
    margin: 1% 0;
}
.flex-item ul > li {
    margin-bottom: 1%;
}
.flex-item ul > li > ul {
    margin: 1% 0;
}
.flex-item ul > li > ul > li{
    list-style-type: square;
}


/* Images */

.flex-item > a > img{
    margin-top: 1.25%;
    width: 100%;
    min-width: 400px; 
    max-width: 550px;
}
.flex-container > .flex-item > .img,.flex-container > .flex-item > video{
    margin-top: 2.5%;
    width: 100%;
    min-width: 400px; 
    max-width: 550px;
}
.flex-container > .flex-item > .sm-img{
    margin-top: 2.5%;
    min-width: 400px; 
    width: 250px;
    max-width: 550px;
}
.flex-item > code {
    padding: 1%;
    border: 1px solid black;
    margin: 2.5% auto;
    font-size: 1.5rem;
}

.br {
    border: 4px solid red;
}
.important {
    color:red;
}

@media screen and (max-width:1300px) {
    .flex-container > .flex-item.image {
        width: 50%;
        min-width: 400px; 
        max-width: 550px;
        /* margin: 1% 0 1% 0; */
    }   
}